@model IEnumerable<plaisio.Models.Product>

@{
    ViewBag.Title = "Laptops";
}

<h2>Laptops</h2>


<table class="table">
    <tbody>

        <tr>
            <th>Laptop Id</th>
            <th>Laptop Model</th>
        </tr>

        @foreach (var item in ViewBag.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td> <img class="limitPhoto" src="@item.ImgUrl" /></td>
            </tr>
        }

    </tbody>
</table>

